body {
  background-color: #44444E;
  color: white;
  margin: 0;
  font-family: museo-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wght" 400;
  line-height: 1.6;
  font-size: 1.5rem;
}

.content-wrapper {
  max-width: 900px; 
  margin: 0 auto; 
  padding: 0 40px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0px;
    text-align: left;
}

h1 {
    color: white;
    font-family: "instrument-serif", sans-serif;
    font-size: 14rem;
    font-weight: 400; 
    font-variation-settings: "wght" 400; 
    line-height: 0.8; 
    margin: 0;
    letter-spacing: -0.02em;
}

h2 {
    color: white;
    font-family: "instrument-serif", sans-serif;
    font-weight: 400; 
    font-variation-settings: "wght" 400;
    font-size: 3rem;
    opacity: 0.8;
    margin-bottom: 20px;
    margin-top: 0;
}

h3 {
    color: white;
    font-family: "instrument-serif", sans-serif;
    font-weight: 400; 
    font-variation-settings: "wght" 400;
    font-size: 3rem;
    opacity: 0.8;
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    z-index: 1000;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 15px 20px
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    position: relative;
}

.nav-link:hover {
    opacity: 0.6;
}